name: Build and Push Docker Image
on:
  push:
    branches:
      - master # 触发条件，当有代码 push 到 main 分支时执行
# on:
#   workflow_dispatch:
#     inputs:
#       approval:
#         description: "Approve the workflow"
#         required: true

jobs:
  build:
    runs-on: ubuntu-latest
    container: liamlidev/my-ubuntu-with-node-jdk:1.0
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Build And Push Docker image
        # with:
        #   approval: ${{ github.event.inputs.approval }}
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        run: |
          /usr/bin/docker -v
          javac --version
          java --version
          node -v
          ls -a
          pwd

# docker build -t liamlidev/my-ubuntu-with-node-jdk:1.0 .
# docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
# docker push liamlidev/my-ubuntu-with-node-jdk:1.0
